:root {
    --white-color: #ffffff
   

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
    



body {
  background-color: var(--white-color);
  color: #212121;
}

.page-header {
background-color: var(--white-color);
}

/*nav*/
.site-nav {
    font-family: "Open Sans";
    font-weight: 700;
}